@import '~@blueprintjs/core/lib/scss/variables';

.container {
  width: 350px;
  position: absolute;
  right: 10px;
  z-index: 100;
  border-radius: 8px;
}

.tabsBar {
  width: 100%;
  background-color: #252a31;
  margin: 6px 10px;
  border-radius: 8px 8px 0px 0px;
}

.inspectorWindow {
  position: relative;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.8rem;
  border-radius: 8px;
  gap: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.optionsHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;

  p {
    font-size: 1.4rem;
    color: $dark-gray2;
  }

  textarea {
    border-bottom: 1px solid #fff;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 100%;
    max-width: 100%;
    resize: none;
    height: fit-content;
    transition: all 50ms linear;

    &:hover {
      border-color: $dark-gray2;
    }

    &:focus {
      border-color: $dark-gray2;
    }
  }
}

.nodeName {
  width: 100%;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 1.8rem;
  color: $dark-gray5;
  font-weight: 500;
  transition: all 50ms linear;

  &:hover {
    border-color: $dark-gray2;
  }

  &:focus {
    border-color: $dark-gray2;
  }
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.option {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.optionLabel {
  display: flex;
  flex-direction: row;
  align-items: center;

  h4 {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.blockLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 28px;

  h3 {
    font-size: 1.8rem;
    font-weight: 500;
    color: $dark-gray5;
    margin: 0;
  }

  span {
    flex: 1;
  }
}

.blockWell {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: $light-gray5;
  width: 100%;
  min-height: 4rem;
  border-radius: 7px;
  padding: 1.2rem;
  border: 1px solid $gray2;
}

.block {
  width: 100%;
  height: 3.2rem;
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 1.2rem;
  align-items: center;
  user-select: none;

  .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.8rem 1.2rem;
    background-color: white;
    border: 1px solid $dark-gray2;
    border-radius: 0.8rem;
    flex-wrap: nowrap;
    align-items: center;

    span {
      flex: 1;
    }
  }
}

.grabber {
  &:hover {
    cursor: grab;
  }
}

.add {
  height: 1.8rem;
  &:hover {
    cursor: pointer;
    transition: all 50ms linear;

    rect {
      fill: #0070f7;
      stroke: #fff;
    }
    path {
      fill: #fff;
    }
  }
}

.optionButton {
  padding: 2px;
  cursor: pointer;
}

.blockOptions {
  vertical-align: middle;
  user-select: none;
  position: relative; //@TMP: here
}

.optionMenu {
  margin-top: 4px;
  z-index: 100;
  position: absolute;
  text-align: right;
  background-color: white;
  padding: 4px;
  border-radius: 8px;
  font-size: 14px;
  right: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid $gray1;

  span {
    width: 100%;
    padding: 4px 8px;
    text-align: left;
    border-radius: 4px;
    color: $dark-gray2;

    &:hover {
      cursor: pointer;
      background-color: $light-gray5;
    }
  }

  .delete {
    font-weight: bold;
    color: red;
  }
}

.label {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0.6rem;

  h4 {
    font-size: 1.4rem;
    font-weight: 500;
    flex: 1;

    #req {
      color: red;
    }

    #text {
      border-bottom: 1px dashed $dark-gray5;

      &:hover {
        cursor: help;
      }
    }
  }
}

.dynamicInputButton {
  transition: all 50ms linear;
  &:hover {
    path {
      fill: $blue4;
    }
    cursor: pointer;
  }
}

.msgComponent {
  width: 100%;
}

.messages {
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  border: 1px solid $gray5;
}

.messageHeader {
  display: flex;
  flex-direction: row;
  background-color: $light-gray4;
  padding: 0.8rem;
  border-bottom: 1px solid $gray5;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;

  p {
    flex: 1;
    margin: 0;
    font-size: 1.2rem;
  }
}

.messageContainer {
  display: flex;
  flex-direction: column;
  min-height: 3.6rem;
  justify-content: center;
}

.msg {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.2rem;

  &:not(:last-child) {
    border-bottom: 1px solid $gray5;
  }

  span {
    flex: 1;
  }
}

.placeholderText {
  font-style: italic;
  text-align: center;
  color: $gray3;
  font-size: 1.2rem;
}

.blockLibrary {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  border-radius: 8px;
  gap: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  width: 22.5rem;
  position: absolute;
  left: -23.5rem;
  top: 0;

  h3 {
    font-size: 1.8rem;
    margin: 0.5rem 0 0 0;
    font-weight: 500;
  }
}

.blockSearch {
  width: 100%;
  height: 3.6rem;
  background-color: $light-gray5;
  border-radius: 0.8rem;
  border: 1px solid $gray5;
  padding: 0 0.8rem;
}

.blockList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.2rem;
  place-items: center;
  max-height: 50rem;
  overflow-y: scroll;
  scrollbar-width: 0;

  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }
}

.blockListItem {
  width: 5.5rem;
  text-align: center;
  grid-column: span 1 / span 1;
  grid-row: span 1 / span 1;
  user-select: none;
  display: flex;
  flex-direction: column;

  .blockIconHolder {
    padding: 0.5rem;
    aspect-ratio: 1 / 1;
    border: 1px solid $gray5;
    border-radius: 0.8rem;
    background-color: $light-gray5;
    transition: all 50ms linear;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.05);
      cursor: grab;
    }
  }

  span {
    font-size: 1.2rem;
    font-weight: 400;
    align-self: center;
    display: block;
    margin-top: 0.8rem;
  }
}
